- if flash[:error]
  .error
    %span= flash[:error]
%h1 Current Local Weather!
%h3 Enter a U.S. Zip Code

-semantic_form_for :search, :url => location_search_url do |f|
  = f.text_field :term
  = f.commit_button :button_html => { :value => "Search" }

- popular_locations = Location.popular_locations
- if popular_locations.count > 1
  %br
  %h4 Popular Locations
  %ol
    - popular_locations.each do |location|
      %li= link_to "#{location.to_s} #{location.zip}", location_url(location)


= #link_to 'New location', new_location_path
