- if flash[:error]
  .error
    %span= flash[:error]
%h1 Current Local Weather!
%h3 Enter a U.S. Zip Code

-semantic_form_for :search, :url => location_search_url do |f|
  = f.text_field :term
  = f.commit_button :button_html => { :value => "Search" }

- popular_locations = Location.popular_locations.first(10)
- if popular_locations.count > 1
  %br
  %h4 Popular Locations

  %div{ :style => "overflow: scroll;" }
    %table
      %thead
      %tbody
        - popular_locations.each do |location|
          - conditions = location.current_conditions
          %tr
            %td= link_to "#{location.to_s} #{location.zip}", "/locations/#{location.zip}"
            %td
              = conditions["temp_F"] + "°F"
            %td
              = conditions["winddirDegree"] + "@" + conditions["windspeedMiles"]
            %td
              %img{:src => conditions["weatherIconUrl"], :style => "max-width: 32px;"}
      
    

%script{:type => "text/javascript"}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45937912-1', 'burkeramsey.com');
  ga('send', 'pageview');
