%h2= @location.to_s
.weather-icon= image_tag @location.current_conditions_icon_url
%h3{:id => "zip"}= @location.zip

%table
  - @location.current_conditions.each do |name, value|
    %tr
    - if name != "weatherIconUrl"
      %td= name
      %td= value

#content

=# link_to 'Edit', edit_location_path(@location)
%br
= link_to 'Go Back', locations_path

